@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optionnel : styles globaux */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}
/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@layer utilities {
  /* Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --font-heading: 'Roboto Slab', serif;
  --font-body: 'Poppins', sans-serif;
}
